html, body {
    margin: 0;
    height: 100%;
    font-size: 16px;
}

canvas {
    display: block;
    width: 100%;
    height: 100%;
}

#ui-panel {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 250px;
    height: 100px;
    background: transparent;
    color: white;
}

#ui-panel > span {
    display: block;
}

.view-mode {
    font-weight: bold;
}